[Desktop Entry]
Type=Application
Version=1.0
Name=EasyPair
Comment=Enable pairing mode for Xbox wireless devices
Exec=pkexec /usr/local/bin/xone-easypair
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=xbox;controller;pairing;xone;
StartupNotify=false
